In [17]:
import nltk
from functools import reduce
import re
import pandas as pd
news_data
from nltk import PorterStemmer

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('punkt_tab')
nltk.download('omw-1.4')
news_data = pd.read_csv('abcnews-date-text.csv')
news_data

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [18]:
news_data['headline_text']

0          aba decides against community broadcasting lic...
1             act fire witnesses must be aware of defamation
2             a g calls for infrastructure protection summit
3                   air nz staff in aust strike for pay rise
4              air nz strike to affect australian travellers
                                 ...
1244179    two aged care residents die as state records 2...
1244180    victoria records 5;919 new cases and seven deaths
1244181      wa delays adopting new close contact definition
1244182    western ringtail possums found badly dehydrate...
1244183    what makes you a close covid contact here are ...
Name: headline_text, Length: 1244184, dtype: object

In [19]:
news_data['headline_text'].isnull()

0          False
1          False
2          False
3          False
4          False
           ...
1244179    False
1244180    False
1244181    False
1244182    False
1244183    False
Name: headline_text, Length: 1244184, dtype: bool

In [20]:
news_data['headline_text'].dropna()

0          aba decides against community broadcasting lic...
1             act fire witnesses must be aware of defamation
2             a g calls for infrastructure protection summit
3                   air nz staff in aust strike for pay rise
4              air nz strike to affect australian travellers
                                 ...
1244179    two aged care residents die as state records 2...
1244180    victoria records 5;919 new cases and seven deaths
1244181      wa delays adopting new close contact definition
1244182    western ringtail possums found badly dehydrate...
1244183    what makes you a close covid contact here are ...
Name: headline_text, Length: 1244184, dtype: object

In [21]:
news_data['publish_date'].dropna()

0          20030219
1          20030219
2          20030219
3          20030219
4          20030219
             ...
1244179    20211231
1244180    20211231
1244181    20211231
1244182    20211231
1244183    20211231
Name: publish_date, Length: 1244184, dtype: int64

In [22]:
news_data

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [23]:
news_data

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [24]:
news_data.insert(0, "doc_id", range(1, 1 + len(news_data)))

In [25]:
news_data

,doc_id,publish_date,headline_text
0,1,20030219,aba decides against community broadcasting lic...
1,2,20030219,act fire witnesses must be aware of defamation
2,3,20030219,a g calls for infrastructure protection summit
3,4,20030219,air nz staff in aust strike for pay rise
4,5,20030219,air nz strike to affect australian travellers
...,...,...,...
1244179,1244180,20211231,two aged care residents die as state records 2...
1244180,1244181,20211231,victoria records 5;919 new cases and seven deaths
1244181,1244182,20211231,wa delays adopting new close contact definition
1244182,1244183,20211231,western ringtail possums found badly dehydrate...
1244183,1244184,20211231,what makes you a close covid contact here are ...

In [26]:
def stemmer_sentence(headline):
    stemmer = PorterStemmer()
    headline = re.sub(r'^a-zA-Z0-9\s','',headline).lower()
    tokens = headline.split()
    tokens = [stemmer.stem(w) for w in tokens if len(w)>3]
    return " ".join(tokens)

In [27]:
news_data['headline_text'] = news_data['headline_text'].apply(stemmer_sentence)

news_data

,doc_id,publish_date,headline_text
0,1,20030219,decid against commun broadcast licenc
1,2,20030219,fire wit must awar defam
2,3,20030219,call infrastructur protect summit
3,4,20030219,staff aust strike rise
4,5,20030219,strike affect australian travel
...,...,...,...
1244179,1244180,20211231,age care resid state record 2;093
1244180,1244181,20211231,victoria record 5;919 case seven death
1244181,1244182,20211231,delay adopt close contact definit
1244182,1244183,20211231,western ringtail possum found badli dehydr hea...
1244183,1244184,20211231,what make close covid contact here rule

In [28]:
news_data

,doc_id,publish_date,headline_text
0,1,20030219,decid against commun broadcast licenc
1,2,20030219,fire wit must awar defam
2,3,20030219,call infrastructur protect summit
3,4,20030219,staff aust strike rise
4,5,20030219,strike affect australian travel
...,...,...,...
1244179,1244180,20211231,age care resid state record 2;093
1244180,1244181,20211231,victoria record 5;919 case seven death
1244181,1244182,20211231,delay adopt close contact definit
1244182,1244183,20211231,western ringtail possum found badli dehydr hea...
1244183,1244184,20211231,what make close covid contact here rule