In [33]:
import re

import nltk
import pandas as pd
from nltk import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('punkt_tab')
nltk.download('omw-1.4')
news_data = pd.read_csv('abcnews-date-text.csv')
news_data

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [2]:
news_data['headline_text']

0          aba decides against community broadcasting lic...
1             act fire witnesses must be aware of defamation
2             a g calls for infrastructure protection summit
3                   air nz staff in aust strike for pay rise
4              air nz strike to affect australian travellers
                                 ...
1244179    two aged care residents die as state records 2...
1244180    victoria records 5;919 new cases and seven deaths
1244181      wa delays adopting new close contact definition
1244182    western ringtail possums found badly dehydrate...
1244183    what makes you a close covid contact here are ...
Name: headline_text, Length: 1244184, dtype: object

In [3]:
news_data['headline_text'].isnull()

0          False
1          False
2          False
3          False
4          False
           ...
1244179    False
1244180    False
1244181    False
1244182    False
1244183    False
Name: headline_text, Length: 1244184, dtype: bool

In [4]:
news_data['headline_text'].dropna()

0          aba decides against community broadcasting lic...
1             act fire witnesses must be aware of defamation
2             a g calls for infrastructure protection summit
3                   air nz staff in aust strike for pay rise
4              air nz strike to affect australian travellers
                                 ...
1244179    two aged care residents die as state records 2...
1244180    victoria records 5;919 new cases and seven deaths
1244181      wa delays adopting new close contact definition
1244182    western ringtail possums found badly dehydrate...
1244183    what makes you a close covid contact here are ...
Name: headline_text, Length: 1244184, dtype: object

In [5]:
news_data['publish_date'].dropna()

0          20030219
1          20030219
2          20030219
3          20030219
4          20030219
             ...
1244179    20211231
1244180    20211231
1244181    20211231
1244182    20211231
1244183    20211231
Name: publish_date, Length: 1244184, dtype: int64

In [6]:
news_data

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [7]:
news_data

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [8]:
news_data.insert(0, "doc_id", range(1, 1 + len(news_data)))

In [9]:
news_data

,doc_id,publish_date,headline_text
0,1,20030219,aba decides against community broadcasting lic...
1,2,20030219,act fire witnesses must be aware of defamation
2,3,20030219,a g calls for infrastructure protection summit
3,4,20030219,air nz staff in aust strike for pay rise
4,5,20030219,air nz strike to affect australian travellers
...,...,...,...
1244179,1244180,20211231,two aged care residents die as state records 2...
1244180,1244181,20211231,victoria records 5;919 new cases and seven deaths
1244181,1244182,20211231,wa delays adopting new close contact definition
1244182,1244183,20211231,western ringtail possums found badly dehydrate...
1244183,1244184,20211231,what makes you a close covid contact here are ...

In [10]:

# from nltk.tokenize import word_tokenize
# def tokenize():
#     news_data['headline_text'] = news_data.apply(lambda row :nltk.word_tokenize(row['headline_text']),axis=1)
#
# tokenize()

In [11]:
news_data

,doc_id,publish_date,headline_text
0,1,20030219,aba decides against community broadcasting lic...
1,2,20030219,act fire witnesses must be aware of defamation
2,3,20030219,a g calls for infrastructure protection summit
3,4,20030219,air nz staff in aust strike for pay rise
4,5,20030219,air nz strike to affect australian travellers
...,...,...,...
1244179,1244180,20211231,two aged care residents die as state records 2...
1244180,1244181,20211231,victoria records 5;919 new cases and seven deaths
1244181,1244182,20211231,wa delays adopting new close contact definition
1244182,1244183,20211231,western ringtail possums found badly dehydrate...
1244183,1244184,20211231,what makes you a close covid contact here are ...

In [12]:
def stemmer_sentence(headline):
    stemmer = PorterStemmer()
    headline = re.sub(r'[^a-zA-Z0-9\s]', '', headline).lower()
    tokens = headline.split()
    tokens = [stemmer.stem(w) for w in tokens if len(w) > 3]
    return " ".join(tokens)

In [13]:
news_data['headline_text'] = news_data['headline_text'].apply(stemmer_sentence)

news_data

,doc_id,publish_date,headline_text
0,1,20030219,decid against commun broadcast licenc
1,2,20030219,fire wit must awar defam
2,3,20030219,call infrastructur protect summit
3,4,20030219,staff aust strike rise
4,5,20030219,strike affect australian travel
...,...,...,...
1244179,1244180,20211231,age care resid state record 2093
1244180,1244181,20211231,victoria record 5919 case seven death
1244181,1244182,20211231,delay adopt close contact definit
1244182,1244183,20211231,western ringtail possum found badli dehydr hea...
1244183,1244184,20211231,what make close covid contact here rule

In [14]:
news_data[200:300]

     doc_id  publish_date                             headline_text
200     201      20030220    academ upbeat about higher educ review
201     202      20030220            administr appoint land council
202     203      20030220            declar lose parliamentari seat
203     204      20030220          amcor record solid profit result
204     205      20030220                america fourth race cancel
..      ...           ...                                       ...
295     296      20030220      indi meet like includ rain race talk
296     297      20030220                injuri threaten unit final
297     298      20030220        interest sought build stage bypass
298     299      20030220         investig underway into qanta skid
299     300      20030220  investor plan ethanol plant lament trial

[100 rows x 3 columns]

In [15]:
tokenized_news = news_data
tokenized_news['headline_text']

0                      decid against commun broadcast licenc
1                                   fire wit must awar defam
2                          call infrastructur protect summit
3                                     staff aust strike rise
4                            strike affect australian travel
                                 ...
1244179                     age care resid state record 2093
1244180                victoria record 5919 case seven death
1244181                    delay adopt close contact definit
1244182    western ringtail possum found badli dehydr hea...
1244183              what make close covid contact here rule
Name: headline_text, Length: 1244184, dtype: object

In [16]:
# def tokenize():
#     tokenized_news['headline_text'] = news_data.apply(lambda row: nltk.word_tokenize(row['headline_text']), axis=1)
#
#
# tokenize()

In [17]:
tokenized_news

,doc_id,publish_date,headline_text
0,1,20030219,decid against commun broadcast licenc
1,2,20030219,fire wit must awar defam
2,3,20030219,call infrastructur protect summit
3,4,20030219,staff aust strike rise
4,5,20030219,strike affect australian travel
...,...,...,...
1244179,1244180,20211231,age care resid state record 2093
1244180,1244181,20211231,victoria record 5919 case seven death
1244181,1244182,20211231,delay adopt close contact definit
1244182,1244183,20211231,western ringtail possum found badli dehydr hea...
1244183,1244184,20211231,what make close covid contact here rule

In [20]:
count_vectorizer = CountVectorizer(stop_words='english',max_features=4000)
doc_term_matrix = count_vectorizer.fit_transform(news_data['headline_text'])

In [21]:
tf_idf_vectorizer = TfidfVectorizer(stop_words='english',max_features=4000)
document_term_matrix_tfidf = tf_idf_vectorizer.fit_transform(news_data['headline_text'])

In [22]:
doc_term_matrix

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 4961266 stored elements and shape (1244184, 4000)>

In [23]:
document_term_matrix_tfidf

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 4961266 stored elements and shape (1244184, 4000)>

In [25]:
words = count_vectorizer.get_feature_names_out()
word_counts = doc_term_matrix.sum(axis=0).A1
word_counts_df = pd.DataFrame({'word':words,'count':word_counts})
word_counts_df  = word_counts_df.sort_values(by='count',ascending=False)

In [26]:
word_counts_df

           word  count
2635     police  39852
2383        new  33742
2163        man  30762
3093       says  23732
885       court  18187
...         ...    ...
1268   expanded    278
2593       pine    278
88    adelaides    278
388     bellamy    277
2563     permit    277

[4000 rows x 2 columns]

In [36]:
query = news_data['headline_text'][0]
query_term_matrix_tfidf = tf_idf_vectorizer.fit_transform([query])

In [37]:
query_term_matrix_tfidf

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5 stored elements and shape (1, 5)>

In [38]:
print(query_term_matrix_tfidf)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5 stored elements and shape (1, 5)>
  Coords	Values
  (0, 0)	0.4472135954999579
  (0, 3)	0.4472135954999579
  (0, 2)	0.4472135954999579
  (0, 1)	0.4472135954999579
  (0, 4)	0.4472135954999579