In [45]:
import nltk
import pandas as pd

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('punkt_tab')
nltk.download('omw-1.4')

news = pd.read_csv('abcnews-date-text.csv')
news

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [46]:
top_news = news[0:25]

In [47]:
top_news

    publish_date                                      headline_text
0       20030219  aba decides against community broadcasting lic...
1       20030219     act fire witnesses must be aware of defamation
2       20030219     a g calls for infrastructure protection summit
3       20030219           air nz staff in aust strike for pay rise
4       20030219      air nz strike to affect australian travellers
5       20030219                  ambitious olsson wins triple jump
6       20030219         antic delighted with record breaking barca
7       20030219  aussie qualifier stosur wastes four memphis match
8       20030219       aust addresses un security council over iraq
9       20030219         australia is locked into war timetable opp
10      20030219  australia to contribute 10 million in aid to iraq
11      20030219  barca take record as robson celebrates birthda...
12      20030219                         bathhouse plans move ahead
13      20030219      big hopes for launceston cycling championship
14      20030219             big plan to boost paroo water supplies
15      20030219             blizzard buries united states in bills
16      20030219     brigadier dismisses reports troops harassed in
17      20030219     british combat troops arriving daily in kuwait
18      20030219         bryant leads lakers to double overtime win
19      20030219           bushfire victims urged to see centrelink
20      20030219    businesses should prepare for terrorist attacks
21      20030219    calleri avenges final defeat to eliminate massu
22      20030219            call for ethanol blend fuel to go ahead
23      20030219             carews freak goal leaves roma in ruins
24      20030219                       cemeteries miss out on funds

In [48]:
top_news.isnull()

    publish_date  headline_text
0          False          False
1          False          False
2          False          False
3          False          False
4          False          False
5          False          False
6          False          False
7          False          False
8          False          False
9          False          False
10         False          False
11         False          False
12         False          False
13         False          False
14         False          False
15         False          False
16         False          False
17         False          False
18         False          False
19         False          False
20         False          False
21         False          False
22         False          False
23         False          False
24         False          False

In [49]:
top_news.dropna()

    publish_date                                      headline_text
0       20030219  aba decides against community broadcasting lic...
1       20030219     act fire witnesses must be aware of defamation
2       20030219     a g calls for infrastructure protection summit
3       20030219           air nz staff in aust strike for pay rise
4       20030219      air nz strike to affect australian travellers
5       20030219                  ambitious olsson wins triple jump
6       20030219         antic delighted with record breaking barca
7       20030219  aussie qualifier stosur wastes four memphis match
8       20030219       aust addresses un security council over iraq
9       20030219         australia is locked into war timetable opp
10      20030219  australia to contribute 10 million in aid to iraq
11      20030219  barca take record as robson celebrates birthda...
12      20030219                         bathhouse plans move ahead
13      20030219      big hopes for launceston cycling championship
14      20030219             big plan to boost paroo water supplies
15      20030219             blizzard buries united states in bills
16      20030219     brigadier dismisses reports troops harassed in
17      20030219     british combat troops arriving daily in kuwait
18      20030219         bryant leads lakers to double overtime win
19      20030219           bushfire victims urged to see centrelink
20      20030219    businesses should prepare for terrorist attacks
21      20030219    calleri avenges final defeat to eliminate massu
22      20030219            call for ethanol blend fuel to go ahead
23      20030219             carews freak goal leaves roma in ruins
24      20030219                       cemeteries miss out on funds

In [50]:
top_news = top_news.drop(columns='publish_date')

In [51]:
top_news

                                        headline_text
0   aba decides against community broadcasting lic...
1      act fire witnesses must be aware of defamation
2      a g calls for infrastructure protection summit
3            air nz staff in aust strike for pay rise
4       air nz strike to affect australian travellers
5                   ambitious olsson wins triple jump
6          antic delighted with record breaking barca
7   aussie qualifier stosur wastes four memphis match
8        aust addresses un security council over iraq
9          australia is locked into war timetable opp
10  australia to contribute 10 million in aid to iraq
11  barca take record as robson celebrates birthda...
12                         bathhouse plans move ahead
13      big hopes for launceston cycling championship
14             big plan to boost paroo water supplies
15             blizzard buries united states in bills
16     brigadier dismisses reports troops harassed in
17     british combat troops arriving daily in kuwait
18         bryant leads lakers to double overtime win
19           bushfire victims urged to see centrelink
20    businesses should prepare for terrorist attacks
21    calleri avenges final defeat to eliminate massu
22            call for ethanol blend fuel to go ahead
23             carews freak goal leaves roma in ruins
24                       cemeteries miss out on funds

In [56]:
top_news_dropped = top_news[top_news.index % 2 == 0]

top_news_dropped_reset_index = top_news_dropped.reset_index(drop=True)

                                        headline_text
0   aba decides against community broadcasting lic...
1      a g calls for infrastructure protection summit
2       air nz strike to affect australian travellers
3          antic delighted with record breaking barca
4        aust addresses un security council over iraq
5   australia to contribute 10 million in aid to iraq
6                          bathhouse plans move ahead
7              big plan to boost paroo water supplies
8      brigadier dismisses reports troops harassed in
9          bryant leads lakers to double overtime win
10    businesses should prepare for terrorist attacks
11            call for ethanol blend fuel to go ahead
12                       cemeteries miss out on funds

In [59]:
len_news = len(top_news_dropped)
print(len_news)

for i in range(len_news):
    filename = './documents/'f'top_news{i}.txt'

    with open(filename, 'w') as file:
        file.write(top_news_dropped_reset_index.loc[i, 'headline_text'])
print(f'{len_news} created success')

13
13 created success