In [1]:
import glob
import os

import nltk
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import euclidean_distances

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('punkt_tab')
nltk.download('omw-1.4')

news = pd.read_csv('../abcnews-date-text.csv')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [2]:
news

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [3]:
folder_path = '../docs/'
columns = ['headline_text']
all_datas = []
for filename in glob.glob(os.path.join(folder_path, '**', '*.txt'), recursive=True):
    with open(filename, 'r') as f:
        text = f.read()
        datas = pd.DataFrame([[text]], columns=columns)
        all_datas.append(datas)
        print(datas)

                           headline_text
0  decid against commun broadcast licenc
                       headline_text
0  call infrastructur protect summit
                         headline_text
0  busi should prepar terrorist attack
                   headline_text
0  call ethanol blend fuel ahead
        headline_text
0  cemeteri miss fund
                     headline_text
0  strike affect australian travel
                           headline_text
0  antic delight with record break barca
                          headline_text
0  aust address secur council over iraq
                      headline_text
0  australia contribut million iraq
              headline_text
0  bathhous plan move ahead
                   headline_text
0  plan boost paroo water suppli
                         headline_text
0  brigadi dismiss report troop harass
                     headline_text
0  bryant lead laker doubl overtim

In [4]:

df = pd.concat(all_datas, ignore_index=True)
print(df)

                            headline_text
0   decid against commun broadcast licenc
1       call infrastructur protect summit
2     busi should prepar terrorist attack
3           call ethanol blend fuel ahead
4                      cemeteri miss fund
5         strike affect australian travel
6   antic delight with record break barca
7    aust address secur council over iraq
8        australia contribut million iraq
9                bathhous plan move ahead
10          plan boost paroo water suppli
11    brigadi dismiss report troop harass
12        bryant lead laker doubl overtim

In [5]:
df.to_csv('top_25_news_genap.csv', index=False)

In [6]:
top_news_genap = pd.read_csv('top_25_news_genap.csv')

In [7]:
top_news_genap

                            headline_text
0   decid against commun broadcast licenc
1       call infrastructur protect summit
2     busi should prepar terrorist attack
3           call ethanol blend fuel ahead
4                      cemeteri miss fund
5         strike affect australian travel
6   antic delight with record break barca
7    aust address secur council over iraq
8        australia contribut million iraq
9                bathhous plan move ahead
10          plan boost paroo water suppli
11    brigadi dismiss report troop harass
12        bryant lead laker doubl overtim

In [8]:
top_news_genap.insert(0, "doc_id", range(1, 1 + len(top_news_genap)))

In [9]:
top_news_genap['headline_text']

0     decid against commun broadcast licenc
1         call infrastructur protect summit
2       busi should prepar terrorist attack
3             call ethanol blend fuel ahead
4                        cemeteri miss fund
5           strike affect australian travel
6     antic delight with record break barca
7      aust address secur council over iraq
8          australia contribut million iraq
9                  bathhous plan move ahead
10            plan boost paroo water suppli
11      brigadi dismiss report troop harass
12          bryant lead laker doubl overtim
Name: headline_text, dtype: object

In [10]:
count_vectorizerd = CountVectorizer(stop_words='english')
doc_term_matrix = count_vectorizerd.fit_transform(top_news_genap['headline_text'])

In [11]:
doc_term_matrix.shape

(13, 51)

In [12]:
top_news_genap_tf_idf_vec = TfidfVectorizer(stop_words='english',
                                            max_features=5000)
document_term_matrixed_tf_idf = top_news_genap_tf_idf_vec.fit_transform(top_news_genap['headline_text'])

In [13]:
print(document_term_matrixed_tf_idf)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 54 stored elements and shape (13, 51)>
  Coords	Values
  (0, 21)	0.5
  (0, 18)	0.5
  (0, 14)	0.5
  (0, 33)	0.5
  (1, 29)	0.5773502691896258
  (1, 40)	0.5773502691896258
  (1, 45)	0.5773502691896258
  (2, 16)	0.5
  (2, 39)	0.5
  (2, 47)	0.5
  (2, 4)	0.5
  (3, 25)	0.5168341301031996
  (3, 10)	0.5168341301031996
  (3, 26)	0.5168341301031996
  (3, 2)	0.4456988286740356
  (4, 17)	0.5773502691896258
  (4, 35)	0.5773502691896258
  (4, 27)	0.5773502691896258
  (5, 44)	0.5
  (5, 1)	0.5
  (5, 7)	0.5
  (5, 48)	0.5
  (6, 3)	0.447213595499958
  (6, 22)	0.447213595499958
  (6, 41)	0.447213595499958
  :	:
  (7, 43)	0.4591374710855959
  (7, 20)	0.4591374710855959
  (7, 30)	0.39594334263944175
  (8, 30)	0.4456988286740356
  (8, 6)	0.5168341301031996
  (8, 19)	0.5168341301031996
  (8, 34)	0.5168341301031996
  (9, 2)	0.5467925956367323
  (9, 9)	0.6340628633768814
  (9, 38)	0.5467925956367323
  (10, 38)	0.39594334263944175
  (10, 11)	0.4591374710855959
  (10, 37)	0.4591374710855959
  (10, 50)	0.4591374710855959
  (10, 46)	0.4591374710855959
  (11, 13)	0.447213595499958
  (11, 23)	0.447213595499958
  (11, 42)	0.447213595499958
  (11, 49)	0.447213595499958
  (11, 28)	0.447213595499958
  (12, 15)	0.447213595499958
  (12, 32)	0.447213595499958
  (12, 31)	0.447213595499958
  (12, 24)	0.447213595499958
  (12, 36)	0.447213595499958

In [14]:
print("Feature Names n ", top_news_genap_tf_idf_vec.get_feature_names_out())

word_count = doc_term_matrix.sum(axis=0)

Feature Names n  ['address' 'affect' 'ahead' 'antic' 'attack' 'aust' 'australia'
 'australian' 'barca' 'bathhous' 'blend' 'boost' 'break' 'brigadi'
 'broadcast' 'bryant' 'busi' 'cemeteri' 'commun' 'contribut' 'council'
 'decid' 'delight' 'dismiss' 'doubl' 'ethanol' 'fuel' 'fund' 'harass'
 'infrastructur' 'iraq' 'laker' 'lead' 'licenc' 'million' 'miss' 'overtim'
 'paroo' 'plan' 'prepar' 'protect' 'record' 'report' 'secur' 'strike'
 'summit' 'suppli' 'terrorist' 'travel' 'troop' 'water']

In [15]:
print(word_count)

[[1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1
  1 1 2 1 1 1 1 1 1 1 1 1 1 1 1]]

In [16]:
top_genap_query1 = top_news_genap['headline_text'][6]
top_genap_query1

'antic delight with record break barca'

In [17]:
vec_top_genap_query1 = top_news_genap_tf_idf_vec.transform([top_genap_query1])

In [18]:
print(vec_top_genap_query1)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5 stored elements and shape (1, 51)>
  Coords	Values
  (0, 3)	0.447213595499958
  (0, 8)	0.447213595499958
  (0, 12)	0.447213595499958
  (0, 22)	0.447213595499958
  (0, 41)	0.447213595499958

In [19]:
query_1_sim = euclidean_distances(vec_top_genap_query1, doc_term_matrix).flatten()

In [20]:
query_1_sim

array([2.23606798, 2.        , 2.23606798, 2.23606798, 2.        ,
       2.23606798, 1.23606798, 2.44948974, 2.23606798, 2.        ,
       2.44948974, 2.44948974, 2.44948974])