In [1]:
import glob
import os

import nltk
import pandas as pd

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('punkt_tab')
nltk.download('omw-1.4')

news = pd.read_csv('../abcnews-date-text.csv')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [2]:
news

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [11]:
folder_path = '../documents/'
columns = ['headline_text']
all_datas = []
for filename in glob.glob(os.path.join(folder_path, '**', '*.txt'), recursive=True):
    with open(filename, 'r') as f:
        text = f.read()
        datas = pd.DataFrame([[text]], columns=columns)
        all_datas.append(datas)
        print(datas)

                              headline_text
0  decid against communiti broadcast licenc
                       headline_text
0  call infrastructur protect summit
                         headline_text
0  busi should prepar terrorist attack
                   headline_text
0  call ethanol blend fuel ahead
        headline_text
0  cemeteri miss fund
                     headline_text
0  strike affect australian travel
                           headline_text
0  antic delight with record break barca
                          headline_text
0  aust address secur council over iraq
                      headline_text
0  australia contribut million iraq
              headline_text
0  bathhous plan move ahead
                   headline_text
0  plan boost paroo water suppli
                         headline_text
0  brigadi dismiss report troop harass
                     headline_text
0  bryant lead laker doubl overtim

In [12]:

df = pd.concat(all_datas,ignore_index=True)
print(df)

                               headline_text
0   decid against communiti broadcast licenc
1          call infrastructur protect summit
2        busi should prepar terrorist attack
3              call ethanol blend fuel ahead
4                         cemeteri miss fund
5            strike affect australian travel
6      antic delight with record break barca
7       aust address secur council over iraq
8           australia contribut million iraq
9                   bathhous plan move ahead
10             plan boost paroo water suppli
11       brigadi dismiss report troop harass
12           bryant lead laker doubl overtim

In [13]:
df.to_csv('top_25_news_genap.csv',index=False)

In [14]:
top_news_genap=  pd.read_csv('top_25_news_genap.csv')

In [15]:
top_news_genap

                               headline_text
0   decid against communiti broadcast licenc
1          call infrastructur protect summit
2        busi should prepar terrorist attack
3              call ethanol blend fuel ahead
4                         cemeteri miss fund
5            strike affect australian travel
6      antic delight with record break barca
7       aust address secur council over iraq
8           australia contribut million iraq
9                   bathhous plan move ahead
10             plan boost paroo water suppli
11       brigadi dismiss report troop harass
12           bryant lead laker doubl overtim